html,
body {
  margin: 0rem;
  padding: 0rem;
  min-height: 100vh;
}
#light,
#dark {
  min-height: 100vh;
  background-position: center;
  background-size: cover;
}
#light {
  background-image: url(./assets/images/0juC5JIhPks.jpg);
}
#dark {
  background-image: url(./assets/images/L95xDkSSuWw.jpg);
}
@media screen and (max-width: 576px) {
  #light,
  #dark {
    min-height: 150vh;
  }
}
